WordleWebApp/Connected Services/AuthServiceReferenceAsuHosted/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AuthenticationService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AuthenticationService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AuthResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthResult" nillable="true" type="tns:AuthResult" />
</xs:schema>