StaffPage/Connected Services/WordleLogicServiceReference/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53464/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WordleLogicServiceApplication" />
  <xs:import schemaLocation="http://localhost:53464/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GenerateWord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filePath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateWordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerateWordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsValidGuess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filePath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="guess" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsValidGuessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsValidGuessResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WordGuessChecker">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userGuess" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="actualWord" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WordGuessCheckerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WordleLogicServiceApplication" minOccurs="0" name="WordGuessCheckerResult" nillable="true" type="q1:ArrayOfWordLetter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertToDisplay">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WordleLogicServiceApplication" minOccurs="0" name="guess" nillable="true" type="q2:ArrayOfWordLetter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertToDisplayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WordleLogicServiceApplication" minOccurs="0" name="ConvertToDisplayResult" nillable="true" type="q3:ArrayOfWordLetter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actualWord" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="revealedPositions" nillable="true" type="q4:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHintResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetHintResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>