WordleWebApp/Connected Services/WordleLogicServiceReference/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar47.fulton.asu.edu/Page2/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar47.fulton.asu.edu/Page2/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://webstrar47.fulton.asu.edu/Page2/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WordleLogicServiceApplication" />
      <xsd:import schemaLocation="http://webstrar47.fulton.asu.edu/Page2/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GenerateWord_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateWord" />
  </wsdl:message>
  <wsdl:message name="IService1_GenerateWord_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateWordResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_IsValidGuess_InputMessage">
    <wsdl:part name="parameters" element="tns:IsValidGuess" />
  </wsdl:message>
  <wsdl:message name="IService1_IsValidGuess_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsValidGuessResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_WordGuessChecker_InputMessage">
    <wsdl:part name="parameters" element="tns:WordGuessChecker" />
  </wsdl:message>
  <wsdl:message name="IService1_WordGuessChecker_OutputMessage">
    <wsdl:part name="parameters" element="tns:WordGuessCheckerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ConvertToDisplay_InputMessage">
    <wsdl:part name="parameters" element="tns:ConvertToDisplay" />
  </wsdl:message>
  <wsdl:message name="IService1_ConvertToDisplay_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConvertToDisplayResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetHint_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHint" />
  </wsdl:message>
  <wsdl:message name="IService1_GetHint_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHintResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveWordToList_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveWordToList" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveWordToList_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveWordToListResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GenerateWord">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GenerateWord" message="tns:IService1_GenerateWord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GenerateWordResponse" message="tns:IService1_GenerateWord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsValidGuess">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/IsValidGuess" message="tns:IService1_IsValidGuess_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IsValidGuessResponse" message="tns:IService1_IsValidGuess_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WordGuessChecker">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/WordGuessChecker" message="tns:IService1_WordGuessChecker_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/WordGuessCheckerResponse" message="tns:IService1_WordGuessChecker_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConvertToDisplay">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ConvertToDisplay" message="tns:IService1_ConvertToDisplay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ConvertToDisplayResponse" message="tns:IService1_ConvertToDisplay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHint">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetHint" message="tns:IService1_GetHint_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetHintResponse" message="tns:IService1_GetHint_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveWordToList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SaveWordToList" message="tns:IService1_SaveWordToList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SaveWordToListResponse" message="tns:IService1_SaveWordToList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerateWord">
      <soap:operation soapAction="http://tempuri.org/IService1/GenerateWord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsValidGuess">
      <soap:operation soapAction="http://tempuri.org/IService1/IsValidGuess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WordGuessChecker">
      <soap:operation soapAction="http://tempuri.org/IService1/WordGuessChecker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertToDisplay">
      <soap:operation soapAction="http://tempuri.org/IService1/ConvertToDisplay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHint">
      <soap:operation soapAction="http://tempuri.org/IService1/GetHint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveWordToList">
      <soap:operation soapAction="http://tempuri.org/IService1/SaveWordToList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://webstrar47.fulton.asu.edu/Page2/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>