WordleWebApp/Connected Services/WordleLogicServiceReference/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WordleLogicServiceApplication" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WordleLogicServiceApplication" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://webstrar47.fulton.asu.edu/Page2/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfWordLetter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WordLetter" nillable="true" type="tns:WordLetter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWordLetter" nillable="true" type="tns:ArrayOfWordLetter" />
  <xs:complexType name="WordLetter">
    <xs:sequence>
      <xs:element minOccurs="0" name="Letter" type="ser:char" />
      <xs:element minOccurs="0" name="Position" type="xs:int" />
      <xs:element minOccurs="0" name="Status" type="tns:WordLetter.LetterStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WordLetter" nillable="true" type="tns:WordLetter" />
  <xs:simpleType name="WordLetter.LetterStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="CorrectLetter" />
      <xs:enumeration value="CorrectLetterWrongSpot" />
      <xs:enumeration value="IncorrectLetter" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="WordLetter.LetterStatus" nillable="true" type="tns:WordLetter.LetterStatus" />
</xs:schema>